@model NWU_Website.Models.personale

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>personale</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.fornavn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fornavn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.efternavn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.efternavn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.brugernavn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.brugernavn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.rolleID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rolleID)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Redigere bruger", "Edit", new { id = Model.personaleID }) |
        @Html.ActionLink("Gå tilbage", "Index")
    </p>
</body>
</html>
