@model NWU_Website.Models.Personale
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Autherize", "Account", FormMethod.Post))
    {
        <table>
            <tr>
                <td></td>
                <td style="text-decoration:underline">Nordic Water Universe</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.brugernavn)</td>
                <td>@Html.EditorFor(model => model.brugernavn)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.brugernavn)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.adgangskode)</td>
                <td>@Html.EditorFor(model => model.adgangskode)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.adgangskode)</td>
            </tr>
            <tr>
                <td colspan="2">
                    
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="name" value="Log ind" />
                    <input type="reset" name="name" value="Slet" />
                </td>
            </tr>
        </table>
}
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
